doctype html
html
    head
        title osu! Auto Mutual
        meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
        link(rel="stylesheet", type="text/css", href="static/style.css" media="screen and (min-width: 550px)")
        link(rel="stylesheet", type="text/css", href="static/style_mobile.css" media="screen and (max-width: 550px)")
        link(rel="shortcut icon", href="//s.ppy.sh/favicon.ico", type="image/vnd.microsoft.icon")
        style.
            body { background-image: url('static/bg.png');}
    body
        div#header
            div#overlay.title
                div.title(style="padding-left: 10px;") osu! Auto Mutual
            div#mv1(style="background-image: url(static/triangles-1.png);")
                div#mv2(style="background-image: url(static/triangles-2.png);")
                    div#mv3(style="background-image: url(static/triangles-3.png);")
        - var imgurl = 'http://a.ppy.sh/' + userid
        img.avatar(src=imgurl)
        center
            div#mutual
                div#inside Let's become mutual friend!
            div.ct
                input.user#user(type="text", placeholder="Your osu! ID", name="user", style="cursor: text;")
                div.button(style="display: inline-block; font-size: 0.9em; margin-left: 10px", onclick="mutual();") Mutual
            div.howto
                h2.title(style="padding-top: 1em;") How to become my mutual friend
                center
                    table(cellspacing="5%", cellpadding="5%")
                        tr
                            th: div.setp 1
                            th: div.detail(style="background-color: #6cf;"): a(href="//osu.ppy.sh/u/ntzyz", target="_blank") Add me as friend.
                        tr
                            th: div.setp 2
                            th: div.detail(style="background-color: #4e4;") Type your name.
                        tr
                            th: div.setp 3
                            th: div.detail(style="background-color: #f99;") Click 'Mutual'!
        div.footer(style="padding-bottom: 20px;") osu! Auto Mutual by 
            a.footer(href="http://wa.vg") jebwizoscar
            br
            | Edit by 
            a.footer(href="http://hazelzhu.com") Hazel_Zhu
            br
            | Node.js version by 
            a.footer(href="https://www.ntzyz.cn/") ntzyz
        script(src="static/jquery-1.11.0.min.js")
        script(type="text/javascript").
            function mutual() {
                   $('#mutual').fadeOut(250, function() {
                       $('#inside').html('Please Wait...');
                   });
                  $('#mutual').fadeIn(250);
                $.ajax({
                    type: 'GET',
                    url: 'request?id=' + $('#user').val(),
                    success: function(response) {
                        $('#mutual').fadeOut(500, function() {
                            $('#inside').html(response);
                        });
                        $('#mutual').fadeIn(500);
                    }
                });
            }
